#tech-gif-animation {
    width: 75%;
    margin: 30px;
}

.image-circle-container {
    float: right;
    width: 38%;
    border-radius: 50%;
    shape-outside: ellipse();
    text-align: center;
    border: 2px solid rgb(0, 15, 134);
}

#about-me-container > h1 {
    color: blue;
    font-family: 'cheee-peeenutt', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

#about-me-container > p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(0, 15, 134);
}

@media only screen and (max-width: 560px) {
    #tech-gif-animation {
        width: 60%;
    }
}